body {
    font-family: 'Arial', sans-serif;
    background-image: url(../image/bg6.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background: rgba(0, 0, 0, 0.2);
}