html,
body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

body {
    background-image: url('../image/bg6.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cpr:hover {
    color: blue;
}

.cpr {
    color: white;
    text-decoration: none;

}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 2px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.card {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.card h3 {
    color: #fff;
}

.card label p {
    color: #fff;
    margin-bottom: 1vh;
}

.card p {
    color: #fff;
}

.daftar {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.daftar:hover {
    color: blue;
}