body {
    font-family: 'Arial', sans-serif;
    background-image: url(../image/bg6.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background: rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    /* Membuat elemen navbar menjadi flexbox */
    justify-content: space-between;
    /* Ruang antar elemen */
    align-items: center;
    /* Vertikal sejajar */
    /* background-color: #6a0572; */
    /* Warna latar (opsional) */
    padding: 10px 20px;
    /* Tambahkan padding */
}

.nav-links {
    display: flex;
    /* Susun item dalam satu baris */
    list-style: none;
    /* Hilangkan bullet point */
    margin: 0;
    padding: 0;
    gap: 20px;
    /* Beri jarak antar item */
}

.nav-links li a {
    text-decoration: none;
    /* Hilangkan garis bawah */
    color: white;
    /* Warna teks */
    font-size: 16px;
    /* Ukuran teks */
    transition: color 0.3s ease;
    /* Efek hover */
}

.nav-links li a:hover {
    color: gray;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.4s ease;
    list-style: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin-top: 10px;
}


nav a {
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav li {
    list-style: none;
    /* Hilangkan bullet point */
    margin: 0;
    padding: 0;
}

button {
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 9px 25px;
    margin-left: 30px;
}

button:hover {
    background-color: gray;
    transition: all 0.4s ease;
    color: #fff;
}

button a {
    color: #fff;
    text-decoration: none;
}

#home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#home h1 {
    margin-top: 0;
    font-size: 2.5rem;
    color: white;
}

#home p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: white;
}

.divider {
    height: 50px;
    background-color: #f0f0f0;
}


#about {
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 100px 20px;
    color: #000;
}

h2 {

    font-weight: bold;
}

h3 {
    color: #000;
    font-size: 16px;
}

h4 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;

}

/* footer {
    background: #000;
    text-align: center;
    background-size: 10vh;
} */